<%- include("../partials/admin-header") %>
<header class="topbar">

    <h2>پنل مدیریت</h2>

    <div class="admin-user">
        زهرا جدیدی
    </div>

</header>
<div class="admin-layout">
<%- include("../partials/admin-sidebar") %>
<main class="main-content">
    <h1>داشبورد</h1>
    <p>به پنل مدیریت خوش آمدید</p>
</main>
</div>
<footer class="admin-footer">

    © 2026 Blog Admin Panel

</footer>
<%- include("../partials/admin-footer") %>
