<html lang="en">

<head>
    <link rel="stylesheet" href="/css/category.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit category</title>
</head>

<body>
    <h1>edit category</h1>
    <form action="/categories/<%= category._id %>" method="post" class="form-container">
        <div class="form-group">
            <input type="text" name="name" value="<%= category.name %>">
        </div>
        <div class="form-group">
            <button type="submit" class="submit-btn">save edit</button>
        </div>
    </form>
</body>

</html>