<html lang="en">

<head>
    <link rel="stylesheet" href="/css/category.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>categories</title>
</head>

<body>
    <h1>categories</h1>

    <a href="/categories/create" class="btn">add category</a>
    <% if(categories.length===0) {%>
        <p>no categories found</p>
        <% }else{ %>
            <% categories.forEach(category=>{ %>
                <h1>
                    <%= category.name %>
                </h1>
                <div class="actions">
                <a href="categories/<%= category._id %>/edit" class="edit-btn btn1">edit</a>
                <form action="categories/<%= category._id %>/delete" method="post" class="delete-form">
                    <button type="submit" class="delete-btn btn1">delete</button>

                </form>
                </div><br>
                <hr>

                <% })} %>
</body>

</html>