<aside class="sidebar">
    <div class="logo">
        <h2>پنل مدیریت</h2>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/admin">
                    داشبورد
                </a>
            </li>
            <li>
                <a href="/admin/posts">
                    پست ها
                </a>
            </li>
            <li>
                <a href="/admin/categories">
                    دسته بندی ها
                </a>
            </li>
            <li>
                <a href="/admin/users">
                   کاربران
                </a>
            </li>            
            <li>
                <a href="/logout">
                    خروج
                </a>
            </li>                                    
        </ul>
    </nav>
</aside>