<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>وبلاگ</title>
    <link rel="stylesheet"  href="/css/site.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo">
                <a href="/">وبلاگ آموزشی</a>
            </div>
            <nav class="navbar">
                <ul>
                    <li><a href="/">خانه</a></li>
                    <li><a href="/blog">وبلاگ</a></li>
                    <li><a href="/categories">دسته بندی ها</a></li>
                    <li><a href="/about">درباره ما</a></li>

                </ul>
            </nav>
        </div>
    </header>
