
.posts {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 20px;
}

.card {
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform .3s ease,
    box-shadow .3s ease;

}
.card:hover{
    transform: translateY(-8px);
}
.card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.card-body{
    padding: 20px;
}
.card h2
{
    font-size: 20px;
    margin-bottom: 12px;
}
.card p{
    color: #666;
    line-height: 1.7;
    margin-bottom: 20px;
}
.card a{
    display: inline-block;
    text-decoration: none;
    color: #2563eb;
    font-weight: bold;
}
.card a:hover{
    text-decoration: underline;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 18px 50px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 25px;
}
.nav-links a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
.logo a{
    text-decoration: none;
    color: #2563eb;
    font-size: 28px;
    font-weight: bold;
}

.footer{
    background: #111827;
    color: white;
    padding: 50px 0 20px;
    margin-top: 50px;
}
.footer-container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.footer-column{
    flex:1;
}

.footer-column a{
    display: block;
    color: #d1d5db;
    margin-bottom: 10px;
}

.copyright{
    padding-top: 10px;
    border-top: 1px solid #d1d5db;
    text-align: center;
}